# Dependencies
node_modules/
package-lock.json
# Build
dist/

# Environment
.env

# Uploads (keep folder but ignore files)
uploads/*
!uploads/.gitkeep

# IDE
.idea/
.vscode/

# Logs
*.log
npm-debug.log*

















